.friend {
  margin: 20px 0;
  border-radius: 16px;
  border: 2px solid #4f2ee8;
  background: #ffff;
  padding: 20px;
}

.friendList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #f6f6f6;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid #f3ff2f;
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.online {
  position: absolute;
  top: 31px;
  left: 61px;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: green;
}

.ofline {
  position: absolute;
  top: 31px;
  left: 61px;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: red;
}
